@import 'index';

$time: 0.5s;
$navBarHeight: 5rem;
$pageHeight: calc(100vh - #{$navBarHeight});

#MenuLayout-left  {
  padding-right: 0;
  padding-bottom: 0;
}

#MenuLayout-right {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

#MenuLayout-logo {
  margin: 0;
  border-radius: 0;
  height: $navBarHeight;
  padding-left: 2em;
}

#MenuLayout-menu {
  margin: 0;
  border-radius: 0;
  height: $pageHeight;
  overflow-y: scroll;
  padding-top: 0;
  transform: scaleX(-1);
}

#MenuLayout-menu-inner {
  transform: scaleX(-1);
}

#MenuLayout-navbar {
  margin: 0;
  border-radius: 0;
  height: $navBarHeight;
  padding-left: 2em;
}

#MenuLayout-content {
  height: $pageHeight;
  width: calc(100% - 15px); // To make room for the scroll bar, otherwise it ends up outside the window for some reason
  overflow-y: scroll;
  border: 3px rgba($color-primary-0, 0.2) solid;
  border-right: none;
  border-bottom: none;
}
