@import '~theme.less';

@activeColor: lighten(@secondaryColor, 10%);
@subMenuColor: #FFFFFF;
@text-shadow: 1px 1px darken(@primaryColor, 5%);

@transitionColor: color 0.2s ease-in-out 0s;
@transitionBorder: border 0.2s ease-in-out 0s;
@indentTransition: transform 0.2s ease-in-out 0s;

@indent: 3em;
@activeIndent: 1em;
@hoverIndent: 0.5em;


#DocMenu {
  &.ui.inverted.menu .item {
    border-left: 3px solid white;
    border-radius: 0;
    transition: @transitionBorder, @indentTransition, @transitionColor;
    text-shadow: @text-shadow;

    & .title {
      transition: @indentTransition;
      &:hover {
        transform: translateX(@hoverIndent);
      }
    }
  }

  &.ui.inverted.menu .active.item {
    background: @primaryColor;
    border-left: 3px solid @activeColor;
    transition: @transitionBorder, @transitionColor;
  }

  &.ui.vertical.menu .menu .item {
    font-weight: bold;
    border-left: none;
    color: fade(@subMenuColor, 50%) !important;
    padding-left: @indent;
    transition: @indentTransition, @transitionColor;
    text-shadow: @text-shadow;
    &:hover {
      color: @subMenuColor !important;
      transform: translateX(@hoverIndent);
    }
  }

  &.ui.vertical.menu .menu .active.item {
    color: @activeColor !important;
    transition: @indentTransition, @transitionColor;
    text-shadow: @text-shadow;
    transform: translateX(@activeIndent);
  }
}


.ui.search > .ui.icon.input {
  width: 100%;
}

.Doc-menuSubItem {
  padding-left: 2em;
}
