@import 'index';

$time: 0.2s;

.menu .item > span {
  transition: all $time ease;
  border-bottom: 0px solid $color-secondary-1-1;
}

.menu .active.item > span {
  border-bottom: 2px solid $color-secondary-1-1;
  padding-bottom: 2px;
  transition: all $time ease;
}
