.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fade-in-up {
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.fade-in {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.fade-in-right {
  animation-name: fadeInRight;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.fade-in-left {
  animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(30px, 0px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
