@primaryColor: #02B5D6;
@secondaryColor: #FC8F34;
@accentColor: #F10059;

@darkColor: #4e4e4e;
@grayColor: #9c9c9c;
@lightColor: #FCFCFC;

@headerFont: Oswald, Helvetica Neue, Arial, Helvetica, sans-serif;
@pageFont: Roboto, Helvetica Neue, Arial, Helvetica, sans-serif;
@codeFont: Inconsolata, monospace, monospace;
